seaborn==0.13.2
networkx==3.4.2
inquirer==3.4.0
packaging==24.2
pyyaml==6.0.2
typing-extensions==4.12.2
sphinx==8.1.3
sphinx-rtd-theme==3.0.2
numpy==1.26.4
dimod==0.12.18
amazon-braket-sdk==1.88.2
scipy==1.12.0
botocore==1.35.73
boto3==1.35.73
pennylane==0.39.0
pennylane-lightning==0.39.0
amazon-braket-pennylane-plugin==1.30.2
dwave-samplers==1.4.0
nnf==0.4.1
qubovert==1.2.5
python-sat==1.8.dev13
more-itertools==10.5.0
qiskit-optimization==0.6.1
dwave_networkx==0.8.15
qiskit==1.3.0
qiskit-algorithms==0.3.1
pulp==2.9.0
pandas==2.2.3
openpyxl==3.1.5
qrisp==0.5.2
pulser==1.1.1
qiskit_optimization==0.6.1
docplex==2.25.236
pyscipopt==5.0.1
qiskit_aer==0.15.1
cma==4.0.0
matplotlib==3.9.3
tensorboard==2.18.0
tensorboardX==2.6.2.2
torch==2.2.2
jax==0.4.35
jaxlib==0.4.35
qiskit_ibm_runtime==0.33.2
qiskit-machine-learning==0.8.2
torchvision==0.17.2
pillow==11.1.0
tqdm==4.67.1
scikit-learn==1.4.2
