seaborn==0.12.2
networkx==2.8.8
inquirer==3.1.2
packaging==23.1
pyyaml==6.0
typing-extensions==4.6.3
sphinx==6.2.1
sphinx-rtd-theme==1.2.0
numpy==1.23.5
dimod==0.12.5
scipy~=1.10.0
botocore==1.25.7
boto3==1.22.7
nnf==0.4.1
qubovert==1.2.5
python-sat==0.1.7.dev26
more-itertools==9.0.0
qiskit-optimization==0.5.0
pyqubo==1.4.0
pandas==1.5.2
cma==3.3.0
tensorboard==2.13.0
tensorboardX==2.6.2
pytket_qiskit>=0.44.0
git+https://github.com/cda-tum/mqt-predictor.git@quark_integration